<!doctype html>
<html lang="en">
<head>
    <!--report.html-->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<title>ReBug</title>
	
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<header>
    <div class = "logo">
        <a href = "/"><h1>ReBug</h1></a>
    </div>
    <div class = "nav-container">
        <a id = "events-btn" href = "volunteer">Events</a>
        <a id = "request-btn" href = "report">Report Garbage</a>
    </div>
</header>
<h1 style = "font-size: 60px; margin-top: 50px; color:tomato">Successful</h1>
<h2>Thanks for Submiting!</h2>
<div class = "bod" style = "margin: 0px;"><a id="request-btn" href="volunteer">Events</a></div>
