<!DOCTYPE html>
<html lang="en">
  <head>
    <!--report.html-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>ReBug</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  </head>
  <body style="margin-bottom: 150px">
    <header>
      <div class="logo">
        <a href="/"><h1>ReBug</h1></a>
      </div>
      <div class="nav-container">
        <a id="events-btn" href="volunteer">Events</a>
        <a id="request-btn" href="report">Report Garbage</a>
      </div>
    </header>
    <h1 style="margin: 40px; font-weight: 1000">Spots</h1>
    <div class="event-container" style="margin: 25px">
      <script>
        $.getJSON("{{ url_for('static', filename='json/template.json') }}", function(json) {
            let data = Object.values(json);
            for (let i = 0, n = data.length; i < n; i++){
              let currData = data[i]
              const newDiv = document.createElement("div");
              newDiv.classList.add('test-container');
              newDiv.style.cssText += "background-color: rgb(255, 216, 216); overflow: hidden; width: 180px;height: 300px;margin: 10px;border-radius: 25px;display: flex;flex-direction: column;justify-content: space-evenly;align-items: center;";
              const location = document.createTextNode(currData['Location']);
              const volunteers = document.createTextNode(currData['People needed'] + " Needed!");
              const date = document.createTextNode(currData['Time of clean up']);
              let img = document.createElement("img")
              img.src = "{{ url_for('static', filename='image/sample.jpg') }}"
              img.style.cssText += "object-fit: cover; width: 150px; height: 100px; border-radius:15px;";
              newDiv.appendChild(img);
              const newP1 = document.createElement("p");
              const newP2 = document.createElement("p");
              const newP3 = document.createElement("p");
              const newForm = document.createElement("form");
              newForm.setAttribute("method", "post");
              newForm.setAttribute("enctype", "multipart/form-data");
              const newButton = document.createElement("button");
              newButton.setAttribute('type', 'submit');
              newButton.setAttribute('value', currData['Location'] + "||" + currData['Time of clean up'] + "||Needed: " + currData['People needed']);
              newButton.setAttribute('name', "Sign Up!");
              newButton.style.cssText += "width:100px; height:30px; background-color:red; color: yellow;";
              newButton.append(document.createTextNode("Sign Up!"));
              newForm.appendChild(newButton);
              newP1.appendChild(location);
              newP2.appendChild(volunteers);
              newP3.appendChild(date);
              newDiv.appendChild(newP1);
              newDiv.appendChild(newP2);
              newDiv.appendChild(newP3);
              newDiv.appendChild(newForm);
              const currentDiv = document.getElementsByClassName("event-container");
              currentDiv[0].appendChild(newDiv);
            }
        });
      </script>
    </div>
  </body>
</html>
