<!doctype html>
<html lang="en">
<head>
    <!--report.html-->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<title>ReBug</title>
	
	<link rel="stylesheet" href="style.css">
    <script src="./index.js"></script>
</head>
<header>
    <div class = "logo">
        <a href = "/index.html"><h1>ReBug</h1></a>
    </div>
    <div class = "nav-container">
        <a id = "events-btn" href = "/volunteer.html">Events</a>
        <a id = "request-btn" href = "/report.html">Report Garbage</a>
    </div>
</header>
