<!DOCTYPE html>
<html lang="en">
  <head>
    <!--report.html-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>ReBug</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </head>
  <body style="margin-bottom: 150px">
    <header>
      <div class="logo">
        <a href="/"><h1>ReBug</h1></a>
      </div>
      <div class="nav-container">
        <a id="events-btn" href="volunteer">Events</a>
        <a id="request-btn" href="report">Report Garbage</a>
      </div>
    </header>
    <h1 style="margin: 40px; font-weight: 1000">Spots</h1>
    <div class="event-container" style="margin: 25px">
      <div
        class="test-container"
        style="
          background-color: rgb(255, 216, 216);
          width: 180px;
          height: 200px;
          margin: 10px;
          border-radius: 25px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
        "
      >
        <img src="sample image.jpg" style="object-fit: cover; width: 150px; height: 100px" />
        <p>Location Location</p>
        <h3>Spot A</h3>
      </div>
      <div
        class="test-container"
        style="
          background-color: rgb(255, 216, 216);
          width: 180px;
          height: 200px;
          margin: 10px;
          border-radius: 25px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
        "
      >
        <img src="sample image.jpg" style="object-fit: cover; width: 150px; height: 100px" />
        <p>Location Location</p>
        <h3>Spot A</h3>
      </div>
      <div
        class="test-container"
        style="
          background-color: rgb(255, 216, 216);
          width: 180px;
          height: 200px;
          margin: 10px;
          border-radius: 25px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
        "
      >
        <img src="sample image.jpg" style="object-fit: cover; width: 150px; height: 100px" />
        <p>Location Location</p>
        <h3>Spot A</h3>
      </div>
      <div
        class="test-container"
        style="
          background-color: rgb(255, 216, 216);
          width: 180px;
          height: 200px;
          margin: 10px;
          border-radius: 25px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
        "
      >
        <img src="sample image.jpg" style="object-fit: cover; width: 150px; height: 100px" />
        <p>Location Location</p>
        <h3>Spot A</h3>
      </div>
      <div
        class="test-container"
        style="
          background-color: rgb(255, 216, 216);
          width: 180px;
          height: 200px;
          margin: 10px;
          border-radius: 25px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
        "
      >
        <img src="sample image.jpg" style="object-fit: cover; width: 150px; height: 100px" />
        <p>Location Location</p>
        <h3>Spot A</h3>
      </div>
      <div
        class="test-container"
        style="
          background-color: rgb(255, 216, 216);
          width: 180px;
          height: 200px;
          margin: 10px;
          border-radius: 25px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
        "
      >
        <img src="sample image.jpg" style="object-fit: cover; width: 150px; height: 100px" />
        <p>Location Location</p>
        <h3>Spot A</h3>
      </div>
      <div
        class="test-container"
        style="
          background-color: rgb(255, 216, 216);
          width: 180px;
          height: 200px;
          margin: 10px;
          border-radius: 25px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
        "
      >
        <img src="sample image.jpg" style="object-fit: cover; width: 150px; height: 100px" />
        <p>Location Location</p>
        <h3>Spot A</h3>
      </div>
      <div
        class="test-container"
        style="
          background-color: rgb(255, 216, 216);
          width: 180px;
          height: 200px;
          margin: 10px;
          border-radius: 25px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
        "
      >
        <img src="sample image.jpg" style="object-fit: cover; width: 150px; height: 100px" />
        <p>Location Location</p>
        <h3>Spot A</h3>
      </div>
    </div>
  </body>
</html>
